* {
    margin: 0;
}

@font-face {
  font-family: 'pixel';
  src: url('../assets/uni0553.eot'),
       url('../assets/uni0553.woff') format('woff'),
       url('../assets/uni0553.ttf') format('truetype');
}

body {
    position: relative;
    background:#000;
    font-size: 1em;
    font-family: pixel, sans-serif;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

#gameCanvas_container, .wrapper {
    position: absolute;
    width:700px;
    height:350px;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -350px;
}

canvas {
    margin-top: 50px;
    background: #DDD;
}

.wrapper {
    text-align: center;
    color: white;
}

p {
    display: inline-block;
    padding: 5px;
    background-color: #40f;
    margin-bottom: 5px;

}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
}

li {
    padding: 4px;

}

li.selected {
    background: #333;
}
