* {
    margin: 0;
}

@font-face {
  font-family: 'pixel';
  src: url('../assets/uni0553.eot'),
       url('../assets/uni0553.woff') format('woff'),
       url('../assets/uni0553.ttf') format('truetype');
}

body {
    position: relative;
    background:#000;
    font-size: 1em;
    font-family: pixel, sans-serif;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

#gameCanvas_container, .wrapper {
    position: absolute;
    width:700px;
    height:232px;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -350px;
}

canvas {
    margin-top: 32px;
    background: #000;
}

.wrapper {
    text-align: center;
    color: white;
}

#action-ui {
    /*display:block;*/
    margin-top:220;
    color:white;
}

#dialog-ui {
    height: 264;
    width: 300;
    margin: auto;
    text-align: center;
}

p {
    display: block;
    padding: 5px;
    background-color: #FFF;
    color: #000;
}

ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0px;
}

li.selected {
    padding-right:2px;
    border-right: 2px solid;
}
